---
import CardBlog from "../components/CardBlog.astro";
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import { slugify } from "../utilities/slugify";
import { ucWords } from "../utilities/ucWords";
import { htmlEntityDecode } from "../utilities/htmlEntityDecode";
import { excerptize } from "../utilities/excerptize";

const posts = await Astro.glob("../posts/*.md");
---

<Layout title={"Astro Blog"}>
  <Showcase
    heading={"Astro Blog"}
    text={"Listen to an guy ramble on about frameworks."}
    showExtra={false}
  />
  <section class="page-content">
    <div class="container">
      {
        posts.map((post, index) => {
          // console.log(post.frontmatter);

          return (
            <CardBlog
              key={index}
              title={ucWords(htmlEntityDecode(post.frontmatter.title))}
              date={post.frontmatter.date}
              author={post.frontmatter.author}
              link={slugify(post.frontmatter.title)}
              content={excerptize(post)}
            />
          );
        })
      }
    </div>
  </section>
</Layout>
