---
import { newlineToParagraph } from "../utilities/newlineToParagraph";
import AuthorAndDate from "./AuthorAndDate.astro";

export interface CardProps {
  title: string;
  content: string;
  author: string;
  date: string;
  link?: string;
  dark?: boolean;
}

const {
  title,
  content,
  author,
  date,
  link,
  dark = false,
} = Astro.props as CardProps;

const contentP = newlineToParagraph(content);
---

<div class={`card ${dark ? "dark" : ""}`}>
  <h3>
    {
      () => {
        if (link) {
          return <a href={link}>{title}</a>;
        } else {
          return title;
        }
      }
    }
  </h3>
  <AuthorAndDate author={author} date={date} />
  <p>
    {() => contentP.map((p: string) => <p>{p}</p>)}
  </p>
</div>

<style lang="scss">
  .card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    &.dark {
      background: var(--color-secondary);
      color: #fff;
    }
  }
</style>
